@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,400;1,500;1,600&family=Inter:wght@400;700&family=Krona+One&family=Quicksand&family=Roboto+Mono:ital,wght@1,600&family=Unbounded:wght@500;600&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
:root {
    --branco-default: #FFFFFF;
    --azul-principal:#22D4FD;
    --preto-background: #000000;
    --fonte-family:'Krona One', sans-serif;
}
body {
    background: var(--preto-background);
    color: var(--branco-default);
}
.cabecalho {
    background-color: var(--azul-principal);
    font-family: var(--fonte-family);
    font-size: 1.3rem;
    padding: 1.5rem 16%;
}
.cabecalho__menu {
    display: flex;
    gap: 5rem;

}
.cabecalho__link {
    color: #272727;
    text-decoration: none;
}
.cabecalho__link:hover {
    color:white;
    text-decoration: underline;
}
.conteudo__principal {
    padding: 10% 10% 5% 10%;
    display: flex; 
    justify-content: space-evenly;
    font-family: var(--fonte-family);
    gap: 4rem;
}
.secao-a {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.secao-a__titulo {
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: bold;
}

.secao-a__titulo--destaque {
    color: var(--azul-principal);
}
.secao-a__paragrafo {
    font-size: 1.25rem;
    line-height: 2.1rem;
    text-align: justify;
}   
.secao-a__paragrafo--destaque {
    font-weight: bold;
    color: var(--azul-principal);
}
.secao-a__lista {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}   
.secao-a__lista__titulo {
    padding: 0 0 2rem 0;
}
.secao-a__lista__link{
    display: flex;
    justify-content: center;
    border: 2px solid var(--azul-principal);
    border-radius: 10px;
    width: 72.8%;
    margin: 0 0 2rem 0;
    padding: 1.5rem 0;
    text-decoration: none;
    letter-spacing: 0.3rem;
    font-weight: bold;
    color: var(--azul-principal);
}
.secao-a__lista__link:hover {
    background: var(--branco-default);
    color: var(--preto-background);
    font-size: 2rem;
    width: 75%
}
.secao-a__lista__link img{
    margin: 0 1rem 0 0;
}
.secao-b {
    width: 50%;
    height: 540px;
    position: relative;
}
.secao-b__imagem--borda {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -1.4rem;
    top: -1.4rem;
    border: 0.19rem solid var(--azul-principal);
    border-radius: 1.25rem;
    z-index: -2;
}
.secao-b__imagem {  
    border-radius: 1.25rem;
    width: 100%;
    height: 100%;
    box-shadow: -1.2rem 1rem 10.5rem var(--azul-principal);
}
.rodape {
    background-color: var(--azul-principal);
    text-align: center;
    padding: 1.5rem;
    color: #272727;
    font-family: var(--fonte-family);
}
.curriculo__paragrafo {
    color: #facc15;
    list-style:circle #facc15;
}
.curriculo__paragrafo p {
    color: rgba(211,206,206,0.467);
}
.curriculo__paragrafo:nth-child(2) {
    padding: 1rem 0;
}
.curriculo__imagem {
    box-shadow: -1.2rem 1rem 10.5rem #bb7711;

}
.curriculo__borda {
    border: 0.19rem solid #facc15;
}
.curriculo {
    background: #facc15;
}
.sobremim__imagem {
    box-shadow: -1.2rem 1rem 10.5rem #7e22ce;
}
.sobremim__borda {
    border: 0.19rem solid #7e22ce;
}
.sobremim {
    background: #7e22ce;
}
@media (max-width:1000px){
    .cabecalho{
        padding: 1.5rem 0;
    }
    .cabecalho__menu {
        gap: 3rem;
        flex-direction: column;
        text-align: center;
    }
    .cabecalho__link {
        font-size: 2rem;
    }
    .conteudo__principal {
        flex-direction: column-reverse;
    }
    .secao-a,.secao-b{   
        width: 100%;
    }
    .rodape__texto{
        display: inline;
    }
}